{% extends "base.html" %}
{% block title %}Quote Generator{% endblock %}
{% block body %}
<body>
    <h1>About</h1>
    <p class="mr-3" style="width: 600px">Quote Generator selects a random quote from a text, pdf and .docx files and writes it over a random image from the Isle of Skye, Scottland. Images from <a href='https://unsplash.com/s/photos/skye-island' target="_blank">unsplash.com</a> Also accepts dynamic user input through a command-line tool and this web service. 
    </p>
    <h2>Built With</h2>
    <p>Python</p>
    <p>Flask</p>
    <p>Boostrap</p>
    <h2>Source Code</h2>
    <a href="https://github.com/rcmadden/meme-generator" target="_blank">github</p>
</body>
{% endblock %}